# Ignore the virtual environment
venv/
env/

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore local database (if any)
db.sqlite3

# Ignore user-uploaded media (Optional: usually we don't commit large media files)
media/

# Ignore system files
.DS_Store